# 飞书应用凭证
FEISHU_APP_ID=cli_aad22f07577a5be9
FEISHU_APP_SECRET=your_app_secret_here

# 飞书多维表格
BITABLE_APP_TOKEN=TivwbVWqgadraWsrNqBcJ7Kmn8c

# 表格 ID
TABLE_ID_LOCALS=tbl1l0kRd1dFILqF
TABLE_ID_SESSIONS=tbl11gKoBJrOnnrU
TABLE_ID_SAYHI=tblSwm4OrpNFyo5w
